
<div class="slider">
    <ul id="hero-gallery" class="cS-hidden">
        @if (ViewBag.Banners != null && ((List<string>)ViewBag.Banners).Count > 0)
        {
            foreach (var banner in ((List<string>)ViewBag.Banners))
            {
                <li data-thumb="@Url.Content(banner)">
                    <img src="@Url.Content(banner)" alt="" />
                </li>
            }
        }
        @*<li data-thumb="~/images/banners/banner1.jpg">
            <img src="~/images/banners/banner1.jpg" alt="" />
        </li>
        <li data-thumb="~/images/banners/banner2.jpg">
            <img src="~/images/banners/banner2.jpg" alt="" />
        </li>*@
        @*<li data-thumb="Content/images/slider7.jpg">
            <img src="Content/images/slider7.jpg" alt="" />
        </li>*@
    </ul>
</div>
<div class="main-search">
    <div class="wrap">
        @using (Html.BeginForm()) { 
        @*<form id="main-search" method="post" action="search_results.html">*@
            <div class="row">
                <!--column-->
                <div class="column one-half">
                    @*<h5><span>01</span> What?</h5>*@
                    <h5 data-localize="Sport">競賽總類</h5>
                    <div class="row">
                        <div class="one-third">
                            @Html.DropDownList("VenueType")
                        </div>
                        
                        <div class="one-third">
                            @Html.DropDownItemList("Sport", (List<DropDownListItem>)ViewBag.Sport)
                        </div>
                        <div class="one-third">
                            @Html.DropDownItemList("Game", (List<DropDownListItem>)ViewBag.GameSite)
                        </div>
                       
                        </div>
                </div>
                <!--//column-->

                <div class="column one-half">
                    <!--form hotel-->
                    <div class="form row" id="form1">
                        <!--column-->
                        <!--//column-->
                        <!--column-->
                        <div class="full-width">
                            <h5><span style="color:#555;font-size:16px;font-weight:400;" data-localize="CheckIn">入房</span>\<span style="color:#555;font-size:16px;font-weight:400;" data-localize="CheckOut">退房</span></h5>
                            <div class="row">
                                <div class="f-item one-third">
                                    @*<label for="datepicker1">Check-in date</label>*@
                                    <div class="">
                                        <input type="text" id="destination1" name="word" placeholder="飯店、城市、街道" />
                                    </div>
                                </div>
                                <div class="f-item one-third datepicker">
                                    @*<label for="datepicker1">Check-in date</label>*@
                                    <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker1" name="Begin" value="@ViewBag.CheckInDate" /></div>
                                </div>
                                <div class="f-item one-third datepicker">
                                    @*<label for="datepicker2">Check-out date</label>*@
                                    <div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker2" name="End" value="@ViewBag.CheckOutDate" /></div>
                                </div>
                            </div>
                        </div>
                        <!--//column-->

                    </div>

                </div>
                <button type="submit" data-localize="Search" class="gradient-button search-submit" id="search-submit">
                    搜尋
                </button>
            </div>
        @*</form>*@
        }
    </div>
</div>

<script type="text/javascript">
        (function ($) {
           

            let venueType = $('#VenueType');
            let Sport = $('#Sport');
            let Game = $('#Game');
            var venueTypeItem = venueType.val();
            ChangeSport();
            function ChangeSport() {
                var venueTypeItem = venueType.val();
                //Game.val('');
                Sport.find('option').hide();
                let sports = Sport.find('option[data-id=' + venueTypeItem + ']');
                let SportArr = [];
                for (let s = 0, max = sports.length; s < max; s++) {
                    let text = $(sports[s]).text();
                    if (SportArr.length <= 0 || SportArr.indexOf(text) <= 0) {
                        SportArr.push(text);
                        $(sports[s]).show();
                    }
                   
                }

                //console.log(SportArr);
                //Sport.find('option[data-id=' + venueTypeItem + ']').show();
                var selected = $('#Sport option[style!="display:none"]:first').val();
                Sport.val(selected);
                ChangeVenue();
            }

            venueType.on('change', function () {
                ChangeSport();
            });
            Sport.on('change', function () {
                ChangeVenue();
            });

            function ChangeVenue() {
                var sportItem = Sport.val();
               
                Game.find('option').hide();
                Game.find('option[data-id=' + sportItem + ']').show();
                var selected = $('#Game option[style!="display:none"]:first').val();
                Sport.val(sportItem);
            }

           
        })(jQuery);
</script>